/* Default */
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr 0.333fr;
}

/* Header */

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-bottom: 2px solid gray;
}

.header .top {
    align-items: center;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 1rem;
}

.person {
    height: 7vh;
}

.search {
    border-radius: 10px;
    width: 40vw;
    background-color: lightblue;
    padding-left: 0.4rem;
    border: 0.2px solid gray;
}

.header .top .left {
    display: grid;
    grid-template-columns: 0.05fr 1fr;
}

.header .top .right {
    align-items: center;
    display: grid;
    grid-template-columns: 3rem 4.5rem 15rem;
    justify-content: center;
}

.header .bottom {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.header .bottom .left {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}

.header .bottom .right ul {
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    gap: 10px;
    list-style-type: none;
}

.header button {
    width: 85px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
}

.large {
    font-size: 150%;
    font-weight: bold;
}

/* Dashboard */

.nav {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #3b82f6;
}

.nav .title {
    display: grid;
    grid-template-columns: 2.5rem 5rem;
    align-items: center;
    color: white;
}

.nav ul {
    display: grid;
    gap: 1rem;
    list-style-type: none;
    color: white;
    font-size: 110%;
    font-weight: bold;
}

.nav li {
    display: grid;
    align-items: center;
    grid-template-columns: 3rem 6rem;
}

.nav .title, .nav .top {
    padding-left: 1rem;
    padding-top: 1rem;
}

.nav .bottom {
    padding-left: 1rem;
    padding-top: 2rem;
}

/* Body */

.body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightgray;
}

.body .title {
    padding-top: 1rem;
    color: black;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-left: 1rem;
    padding-bottom: 3rem;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-top: 1rem;
}

.projects .card {
    background-color: white;
    width: 25rem;
    height: 14rem;
    border-radius: 10px;
    border-left: 10px solid gold;
}

.card .top {
    padding-top: 2rem;
    padding-left: 1rem;
}

.card .bottom {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    padding-top: 4rem;
    justify-content: flex-end;
}

.card .middle {
    padding-left: 1rem;
    color: gray;
}

.anouncements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Footer */

.footer {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #333;
    color: white;
    align-items: center;
    justify-content: center;
}